h1{
font-size: 50px;
text-align: center;
color: black;
}
p{
font-size: 50px;
text-align: center;
font-family: Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://ic-cdn.flipboard.com/pressablecdn.com/e93e7682b3eef1fdf532e886f78c92d1904408ab/_medium.webp");
    background-size: cover;
  }

  .youtube-video {
    width: 50%;
    height: 50vh;
  }
}
