h1{
font-size: 30px;
text-align: center;
color: black;
}
p{
font-size: 20px;
text-align: center;
font-family: Helvetica, sans-serif;
}
body {
  background-image: url("C:\Users\harde\Pictures\AIM-Infographics-44.jpg");
  background-size: cover;
}
