h1{
font-size: 30px;
text-align: center;
color: black;
}
p{
font-size: 20px;
text-align: center;
font-family: Helvetica, sans-serif;
}
body {
  background-image: url("https://ic-cdn.flipboard.com/pressablecdn.com/e93e7682b3eef1fdf532e886f78c92d1904408ab/_medium.webp");
  background-size: cover;
}
